html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.area {
    width: 100%;
    height: 100%;
}

.point {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    pointer-events: none;
}

.point_touch_level_null {
    background-color: hsl(4, 100%, 0%);
}

.point_touch_level_s {
    background-color: hsl(4, 100%, 10%);
}

.point_touch_level_m {
    background-color: hsl(4, 100%, 25%);
}

.point_touch_level_l {
    background-color: hsl(4, 100%, 40%);
}

.point_touch_level_xl {
    background-color: hsl(4, 100%, 50%);
}